In [1]:
import pandas as pd

test = pd.read_csv("../data/data_rep.csv")

print(test)

   Unnamed: 0  Monday  Tuesday  Wednesday  Thursday  Friday  Saturday  Sunday  \
0         Ryo       0        1          1         1       1         1       0
1        Joji       1        1          1         1       1         1       1
2       Erinn       1        1          1         1       1         1       1
3        Masa       1        1          1         1       1         1       0
4        Mari       1        1          1         1       1         1       1
5         Dan       1        1          0         1       0         1       1
6         Jay       1        1          1         1       1         0       0
7     Machiko       0        1          0         0       1         0       0
8      Masami       1        1          1         1       1         1       1
9        Nana       1        1          1         1       1         1       1
10      Shiho       1        1          1         1       1         1       1
11       Saya       1        1          0         1       1         1       1
12  Stephanie       0        0          0         0       1         1       0
13     Tamiko       1        1          0         0       0         0       1
14     Tomoyo       1        1          1         1       1         1       1
15      Naoko       1        1          1         1       1         1       1

    Server  Host  Runner  Busser  Bar-back  Bar  Pref. Emp.  Pos. Pref.  Days
0        0     0       0       0         0    4           1           6     4
1        0     0       0       0         0    3           0           6     3
2        0     1       0       0         2    0           0           5     2
3        2     5       1       0         0    1           1           2     5
4        3     2       1       0         0    0           0           1     4
5        3     0       0       0         0    0           1           1     2
6        2     0       0       0         0    0           0           1     2
7        2     0       1       0         0    0           1           1     2
8        3     0       0       0         0    0           1           1     3
9        3     0       1       0         0    0           0           1     3
10       4     0       4       4         0    0           0           4     4
11       0     0       2       0         0    0           1           3     2
12       0     0       2       0         0    0           1           3     2
13       2     0       2       0         0    0           0           1     2
14       0     0       0       3         0    0           0           3     3
15       1     1       1       1         1    1           1           1     3